#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/input_transform.h>

#define DEFAULT_WIN 0
#define DEFAULT_MAC 1
#define SCROLL 2


/ {
    /* Behaviors */
    // スクロール設定
    msc {
        acceleration-exponent = <0>;      // 0
        time-to-max-speed-ms = <200>;     // 300
        delay-ms = <5>;                   // 10
    };
    // エンコーダー：キー
    behaviors {
        rot_kp: sensor_rotate_kp {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };
    };
    // エンコーダー：マウススクロール
    behaviors {
        rot_msc: sensor_rotate_msc {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            tap-ms = <20>;
            bindings = <&msc>, <&msc>;
        };
    };

    /* キーマップ */
    keymap {
        compatible = "zmk,keymap";

        // WINDOWS用
    	DEFAULT_WIN {
            bindings = <
                // Key
                &mkp MB2   &kp LC(V)  &kp LSHFT    &kp MB1
                &mkp MB3   &mo SCROLL &kp LC(N0)   &kp DEL
                &mkp MB1   &kp LC(C)  &kp LS(TAB)  &mkp MB2
                // Mouse
                &mkp MB1 &mkp MB2
                // Stick
                &kp LS(LC(T)) &kp LS(LC(TAB)) &kp LC(W) &kp LC(TAB)
                // Lever
                &to DEFAULT_WIN &kp F11 &to DEFAULT_MAC
                &to DEFAULT_WIN &kp F12 &to DEFAULT_MAC
                // Side
                &mkp MB5 &mkp MB4 &kp F3 &kp F4
                // Back
                &bt BT_SEL 0 &bt BT_SEL 1
    	    >;
            sensor-bindings = <&rot_kp LG(Z) LS(LG(Z))>, <&rot_msc MOVE_DOWN MOVE_UP>, <&rot_msc MOVE_RIGHT MOVE_LEFT>;
    	};～～

        // MacOS用
    	DEFAULT_MAC {
            bindings = <
                // Key
                &mkp MB2   &kp LGUI   &kp LSHFT    &kp BSPC
                &mkp MB3   &mo SCROLL &kp LG(N0)   &kp DEL
                &mkp MB1   &kp TAB    &kp LS(TAB)  &kp RET
                // Mouse
                &kp LG(C) &kp LG(V)
                // Stick
                &kp LS(LG(T)) &kp LS(LC(TAB)) &kp LG(W) &kp LC(TAB)
                // Lever
                &to DEFAULT_WIN &kp F11 &to DEFAULT_MAC
                &to DEFAULT_WIN &kp F12 &to DEFAULT_MAC
                // Side
                &kp F1 &kp F2 &kp F3 &kp F4
                // Back
                &bt BT_SEL 0 &bt BT_SEL 1
    	    >;
            sensor-bindings = <&rot_kp LG(Z) LS(LG(Z))>, <&rot_msc MOVE_DOWN MOVE_UP>, <&rot_msc MOVE_RIGHT MOVE_LEFT>;
    	};

        // BT設定、スクロールレイヤー
        SETTINGS {
            bindings = <
                // Key
                &none &none &none &none
                &none &mo SCROLL &none &none
                &none &none &none &none
                // Mouse
                &none &none
                // Stick
                &none &none &none &none
                // Lever
                &none &none &none
                &none &none &none
                // Side
                &none &none &none &none
                // Back
                &bt BT_CLR_ALL &bt BT_CLR
    	    >;
            sensor-bindings = <&rot_kp LEFT RIGHT>, <&rot_msc MOVE_DOWN MOVE_UP>, <&rot_msc MOVE_LEFT MOVE_RIGHT>;
    	};
    };
};
